<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{title:"BuyaBook - Login"}) %>
        <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <main>
        <%- include('includes/header') %>
            <hr>
            <h1>ERROR.</h1>
            <p>Unfortunately, an error occured. Dont be shocked however, it is not your fault.</p>
            <p>
                <a href="/" class="btn">Go back</a>
            </p>
    </main>
</body>

</html>