<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{title:"BuyaBook - All Books"}) %>
    <link rel="stylesheet" href="/styles/book.css">
</head>

<body>
    <main>
        <%- include('includes/header') %>
            <hr>
            <% if (!locals.isAdmin) { %>
                <h1>All Books</h1>
                <% } %>

                    <% if (locals.isAdmin) { %>
                        <h1>Book Adminstaration</h1>
                        <section>
                            <h2>Book Management</h2>
                            <p>
                                <a href="/admin/addnewbook" class="btn">Add Books</a>
                            </p>
                        </section>
                        <% } %>

                            <section>
                                <ul id="books-grid">
                                 <% for(let book of books ) { %>
                                    <li>
                                        <%- include('includes/book-item',{book:book}) %>
                                    </li>
                                 <% } %>
                                </ul>
                            </section>

    </main>
</body>

</html>