<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{title:"BuyaBook - All products"}) %>
</head>

<body>
    <main>
        <%- include('includes/header') %>
            <hr>
            <h1>All Books</h1>

    </main>
</body>

</html>