<article class="book-item">
    <img src="<%= book.imageUri %>" alt="">

    <div class="book-content">
        <h1>
            <%= book.title %>
        </h1>

        <div class="price">
            <h3>
                Kshs. <%= book.price %>
            </h3>
            <p style="text-decoration: line-through;">
                Kshs. <%= book.initial %>
            </p>
        </div>

        <% if (locals.isAdmin) { %>
            <div class="book-actions">
                <a href="/admin/updatebook/:id" class="btn btn-alt">Edit Book</a>
                <button class="btn btn-alt">Delete</button>
            </div>
            <% }else{ %>
                <p>
                    <a class="btn" href="/books/:id">View Book</a>
                </p>
                <%}%>

    </div>
</article>