<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../shared/includes/head',{title:"BuyaBook - Add New Book"}) %>
        <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <main>
        <%- include('../../shared/includes/header') %>
            <hr>
            <h1>Add New Book</h1>
            <%- include('includes/books-form') %>
    </main>
</body>

</html>